.home-bg-image {
    object-fit: cover;
    height: calc(100vh - 56px);
    width: 100%;
    z-index: -1;
    position: absolute;
}

.heading-container {
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-heading {
  font-family: Erica One;
  font-size: 20vh;
  line-height: 100%;
  background: -webkit-linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(12px 13px 10px rgba(0, 0, 0, 0.801));
  text-align: left;
}

.tag-line{
  margin-top: 3%;
  font-family: Spartan;
  font-weight: bold;
  color: white;
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.74);
  text-transform: capitalize;
  font-size: 5.5vh;
  text-align: left;
}

.home-button-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
}

.log-in-button{
    font-family: Erica One;
    margin-right: 2%;
    background-image: linear-gradient(to right top, #dcca16, #ffaa3c, #ff8c74, #ff7fb0, #ff89e5);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.74);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.466);
}

.sign-up-button{
    font-family: Erica One;
    margin-right: 2%;
    background-image: linear-gradient(to right top, #08606d, #008684, #00ac7e, #3acf5e, #a8eb12);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.74);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.466);
}

.demo-button{
    font-family: Erica One;
    margin-right: 2%;
    background-image: linear-gradient(to right top, #181f83, #2448bd );
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.74);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.466);
}

@media only screen and (max-width: 810px) {
  .main-heading {
    font-size: 20vw;
  }

  .tag-line{
      font-size: 8vw;
  }
}