.results-card{
    background-color: rgba(0, 0, 0, 0.473) !important;
    color: blanchedalmond !important;
    margin: 10px;
    font-family: Spartan;
    height: 100%;
    box-shadow: 5px 7px 5px rgba(27, 27, 27, 0.39);
    backdrop-filter: blur(6px);
}

.results-image{
    box-shadow: 0px 7px 5px rgba(27, 27, 27, 0.842);
    min-height: 280px !important;
    object-fit: cover;
}

.text-size{
    font-size: 1.2vh !important;
}

.text-title{
 font-size: 1.5vh !important;
 font-weight: bold !important;
}

.results-container{
    height: 100vh;
    font-family: Spartan;
}