.transpCard {
  box-shadow: 5px 7px 5px rgba(27, 27, 27, 0.39);
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.bg-custom {
  background-color: #313131ea!important;
  backdrop-filter: blur(6px);
}

.bg-custom-2 {
  background-color: #000000c4!important;
  backdrop-filter: blur(6px);
}

.full-container {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-pill {
  background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%)!important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.781)!important;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.788)!important;
  cursor: pointer!important;
  margin-top: 22px;
}

.modal-content{
  background-color: rgba(31, 31, 31, 0.918) !important;
  color: #ffffff !important;
} 

@media only screen and (max-width: 990px) {
  .breadcrumb-styles{
    visibility: hidden;
    height: 1px!important;
  }
}

@media only screen and (max-width: 575px) {
  .tab-pane{
    padding-top: 20px!important;
    margin-top: 20px!important;
  }
}