
.transpCard {
  box-shadow: 5px 7px 5px rgba(27, 27, 27, 0.39);
}

.bg-custom {
  background-color: #ffffffb4!important;
  backdrop-filter: blur(6px);
}

.bg-custom-2 {
  background-color: #000000c4!important;
  backdrop-filter: blur(6px);
}

.main-heading {
  font-family: Erica One;
  font-size: 15vw;
  line-height: 100%;
  background: -webkit-linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.801));
}

.tag-line{
  margin-top: 3%;
  font-family: Spartan;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 5px rgba(27, 27, 27, 0.39);
  text-transform: capitalize;
  font-size: 3vw;
}

.full-container {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}