.transpCard {
  box-shadow: 5px 7px 5px rgba(27, 27, 27, 0.39);
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.bg-custom {
  background-color: #313131ea!important;
  backdrop-filter: blur(6px);
}

.bg-custom-2 {
  background-color: #000000c4!important;
  backdrop-filter: blur(6px);
}

.full-container {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  color: white; 
  height: 100vh;
  padding-top: 12%;
  font-size: 80px;
  text-shadow: 0px 0px 20px darkOrange;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.modal-content{
  background-color: rgba(31, 31, 31, 0.918) !important;
  color: #ffffff !important;
} 

@media only screen and (max-width: 990px) {
  .breadcrumb-styles{
    visibility: hidden;
  }
}